version: '3.7'

services:

    php7-fpm:
        build:
            context: ../../docker-images-sources/php73-fpm
        container_name: php-fpm-project6
        image: my-images/php73-fpm-alpine:0.1
        restart: always
        volumes:
            - /home/docker/projects/6_laravel6_graphql_lighthouse:/usr/share/nginx/html
        networks:
            - frontEnd-network
            - backEnd-network
        links:
            - postgresql

    nginx:
        build:
            context: ../../docker-images-sources/nginx117
        container_name: nginx-project6
        env_file: .env
        image: my-images/nginx117-alpine:0.1 ## Alpine Nginx 1.17
        volumes:
            - /home/docker/projects/6_laravel6_graphql_lighthouse:/usr/share/nginx/html ## cambiar <nombre-carpeta-proyecto>
        ports:
            - 8900:${PORT}
            - 443:${HTTPS_PORT}
        networks:
            - backEnd-network
        links:
            - php7-fpm

    postgresql:
        # build:
        #     context: ../../docker-images-sources/postgresql11
        container_name: postgresql-project6
        image: my-images/postgresql12-alpine:0.1
        environment:
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_SCHEMA=${POSTGRES_SCHEMA}
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - ${POSTGRES_PORT}:5432
        networks:
            - backEnd-network

networks:
    frontEnd-network:
        driver: bridge
    backEnd-network:
        driver: bridge

volumes:
    pgdata: # sirve para cualquier servicio mysql o postgresql รณ ambos.
        name: "pgdata_6_project" ## cambiar por pgdata_<nombre-carpeta-proyecto>
        external: false # docker-compose up creates it, if it not exists.
